extends ./layout/app

block contenido                     
    section(class="py-5 bg-gray-50")
        h2(class="text-center text-4xl font-extrabold pt-10 text-indigo-700")= pagina

        if propiedades.length
            div(class="property-grid mt-14")
                each propiedad in propiedades
                    include ./templates/card

        else 
            p(class="text-center text-gray-800 text-lg py-10 italic") No Hay Resultados
    